.background-fill-color{
    background-color: rgb(40, 40, 40);
}

.prosto-one-regular {
    font-family: "Prosto One", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(230, 230, 230);
  }
  